h2 {
  text-decoration: underline;
}

h1 {
    text-decoration: underline double;

}

h1{
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

p{
    font-family: cursive;
}

h1{
    font-family: cursive;
}

h2{
    font-family: cursive;
}